@import "tailwindcss";



html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-width: 320px;
  background: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Grid background */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image: radial-gradient(
    #d4d4d8 1px,
    transparent 1px
  );

  background-size: 16px 16px;

  opacity: 0.65;
}

